<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    <bean id="doc" class = "demo.doctor"></bean>-->
    <bean id="nurse" class = "demo.Nurse"></bean>

    <bean id="doc" class = "demo.doctor">
        <property name="qualification" value = "MBBS"></property>
                         <!-- instead of 👆 we can use ref="xyz" if it is an obj reference-->
    <!-- <constructor-arg value="MBBBBS"></constructor-arg>  WORKS IF WE USE CONSTRUCTOR WITH QUALIFICATION AS PARAMS INSTEAD OF GETTERS AND SETTERS-->
    </bean>

</beans>