<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--    <bean id="doc" class = "demo.doctor"></bean>-->
    <bean id="nurse" class = "ConstructorInjection.Nurse"></bean>

    <bean id="doc" class = "ConstructorInjection.doctor">
<!--        <property name="qualification" value = "MBBS"></property>-->

         <constructor-arg value="MBBBBS"></constructor-arg>
    </bean>

</beans>